SECRET_KEY=your_django_secret_key
DEBUG=True

VIRUSTOTAL_API_KEY=your_virustotal_api_key
GOOGLE_SAFE_BROWSING_API_KEY=your_google_safe_browsing_api_key

EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret


# AI Chatbot
HUGGINGFACE_API_TOKEN=hf_your_huggingface_api_token

# Llama
LLAMA_MODEL=metaexample/llama-2-7b