{% load i18n %}
{% autoescape off %}
Reset Your Password - Cyber Scam Detection

Hi {{ user.get_username|default:"there" }},

We received a request to reset the password for your Cyber Scam Detection account.

To reset your password, please open the following link:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Security Information:
- This link will expire in 24 hours
- If you didn't request this, you can safely ignore this email
- Never share this link with anyone

Account: {{ user.email|default:user.username }}
Requested: {% now "F j, Y, g:i A" %}
Expires: In 24 hours

---
Stay vigilant. Verify always. Report suspicious activity.

© 2026 Cyber Scam Awareness & Detection System. All rights reserved.
{% endautoescape %}